<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
   <!--extra Bootstrap from w3 schoool-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <!-- Fontawesome Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

   <!-- static nebar link-->
   {%load static %}
   <link rel="stylesheet" href="{% static 'css/style.css'%}">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">

   <!--custom.js static ar under a banano ase-->
   <script type="text/javascript" src="{% static 'css/custom.js' %}"></script>

   <!--fornt awsome cdn w3 school-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   
   <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello, world!</title>


    

<style>
.rate>input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
}

.rate>label {
  float: right;
}

.rate>label:before {
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin: 0;
  padding: 0.3rem .2rem;
  cursor: pointer;
}

.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i{
  color: #ffb503 !important;
}
</style>


</head>
<body>
    
<div class="container">

<div class="row">

  
    <div class="col-sm-4 shadow">
     <h1>info</h1>
 
    <img src="{{ fe.img.url }}"  alt="Category image" class="rounded" width="100%" height="200px"> 
    
    </div>

    <div class="col-sm-8 shadow">
      <h1>House Details</h1>
      <table class="table table-hover">
    
        <tbody>
          <tr>
            <td>House Name:</td>
            <td>{{fe.housename}}</td>            
          </tr>

          <tr>
            <td>House Category:</td>
            <td>{{fe.housecategory}}</td>           
          </tr>

          <tr>
            <td>House Rent:</td>
            <td>{{fe.houserent}}</td>            
          </tr>

          <tr>
            <td>House Size:</td>
            <td>{{fe.housesize}}</td>            
          </tr>

          <tr>
            <td>Division:</td>
            <td>{{fe.division}}</td>            
          </tr>

          <tr>
            <td>District:</td>
            <td>{{fe.district}}</td>            
          </tr>

          <tr>
            <td>House Area:</td>
            <td>{{fe.area}}</td>            
          </tr>

          <tr>
            <td>Total Bedroom:</td>
            <td>{{fe.bedroom}}</td>            
          </tr>

          <tr>
            <td>Dinning:</td>
            <td>{{fe.dinning}}</td>            
          </tr>

          <tr>
            <td>Drawing:</td>
            <td>{{fe.drawing}}</td>            
          </tr>

          <tr>
            <td>Kitchen:</td>
            <td>{{fe.kitchen}}</td>            
          </tr>

          <tr>
            <td>Total Balcony:</td>
            <td>{{fe.balcony}}</td>            
          </tr>

          <tr>
            <td>Total Bathroom:</td>
            <td>{{fe.bathroom}}</td>            
          </tr>

          <tr>
            <td>House Details:</td>
            <td>{{fe.allinfo}}</td>            
          </tr>

        </tbody>
      </table>
    </div>

    

</div>

</div>
<br>

<div class="container">
  <div class="row">

    <div class="col shadow">

      <!--try by houserate model rating and review-->
<!-- Product Review -->
<!-- Reviews -->
<div class="col-md-6">
  <h3 class="my-3"> Average rating -<span class="avg-rate">{{avg_reviewfetch.avg_rate}}</span> /5 <i class="fa fa-star text-warning"></i>  <!--average ar work by views info thyk-->

    {% if canAdd %}                                                       <!--koyta rate add korse check-->
    <button data-toggle="modal" data-target="#houserate" type="button" class="btn btn-primary btn-md float-right reviewBtn">Add Review</button>
    {% endif %}


    <!-- Modal -->
<div class="modal fade" id="houserate" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review and Rating add</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" action="{% url 'save' fe.id %}" id="addForm">  <!--fe.id means houseformfill thyk j primary key nea hoise seta k bujay-->
          {% csrf_token %}

        <table class="table table-bordered">

        {{ratevariable.as_table}}

        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-primary">Submit</button>

            <input type="reset" value="Reset" id="reset" class="btn btn-success" />
            


          </td> 
        </tr>

        </table>

        <p class="ajaxRes"></p>

      </form>

      </div>
      
    </div>
  </div>
</div>
<!--end modal-->
 
  </h3>

  <div class="card">
    <div class="card-body review-list" style="max-height: 400px; overflow: auto;">
      <!-- Detail -->

      {% if reviewfetch %}                                   <!--no reviews add ar text-->

      {% for reviewfetchok in reviewfetch %}                 <!--review fetch kore dekha page a-->
      
        <blockquote class="blockquote text-right">
          <h3> {{reviewfetchok.info_review}} </h3>
          
          <footer class="blockquote-footer">
            <cite title="Source Title">                           <!--site title ata kinto javascript a cite lakha hoy-->

              {% for star in reviewfetchok.info_rate|ljust:reviewfetchok.info_rate %}
             
              <i class="fa fa-star text-warning"></i>

              {% endfor %}
            
            </cite>
          </footer>
        </blockquote>
        <hr />

        {% endfor %}                          <!--end for loop-->

        {% else %}

        <p class="no-data">Add First Review</p>

        {% endif %}                             <!--end if loop-->
        
        
      
    </div>
  </div>
</div>

</div>



  </div>

  </div>
</div>  



<!--map ar jonno-->

<div class="container">
  <div class="row">

    <div class="col shadow">
            
  <div class="nav-wrap">
      <div class="logo">
         <h1><i class="fa-solid fa-map-location-dot"></i>Google Map for Area Search</h1>
         
      </div>
  <div class="menu">
     <ul>
      <li>
     <button type="submit" class="btn btn-danger btn-lg"> <a href="{% url 'rental' %}">Search Google Map</a></button>
      </li>
      </ul>
  </div>
            
</div>
</div>
</div>




<!--try success to fetch rating reviews objects===details..ok-->
<h1>houserate thyk review o rate ani</h1>

      {% for dd in d %}
 

    <table>
        <tr>
          <th>{{dd.info_review}}</th>
          <th>{{dd.info_rate}}</th>
          <th>{{dd.infor_id.houserent}}</th>
        </tr>
        <tr>
          <td>{{dd.infor_id.housename}}</td>
          <td>{{dd.infor_id.division}}</td>
          <td>{{dd.infor_id.area}}</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
      {% endfor %}



      <div class="container">
        <div class="row"> 
        <div class="col-md-12">  
        
        
        
        {% for dd in d %}
        
        <div class="col-md-4">
        <div class="card mt-5">
        <div class="card-body ">
          
            <div class="category-image" >
            <img src="{{ dd.infor_id.img.url }}" alt="Category image" class="image-responsive rounded" width="100%" > 
            </div>
            
            <h2 class="card-title text-center border">House Name:  {{dd.infor_id.housename}} </h2>
            <h3 class="card-text text-center">House Rent: {{dd.infor_id.houserent}} </h3>
        
            
            <div class="d-flex justify-content-center links">
             <a href="/dhaka" class="btn btn-primary ml-2">Details</a> <!--fee.pk use kora hoy just info page a jabar jonno-->
            </div>
        
        </div>
        </div>
        </div>
        
        {% endfor %}
        
        
            
        </div>
        </div>
        </div> 







    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
  </body>
</html>    